        body {
            margin: 0;
            padding: 0;
            font-family: 'Poppins', sans-serif;
            font-style: normal;
        }
        
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        img,
        ul {
            padding: 0;
            margin: 0;
        }
        
        .container {
            max-width: 1295px;
            margin: 0 auto;
        }
        
        input {
            border: none;
            background-color: none;
            outline: none;
        }
        
        .projec:hover {
            background-color: burlywood;
        }
        
        .project:active {
            background: #ddd;
        }
        
        header {
            background-image: url('./images/bg-vector.webp');
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            min-height: 800px;
        }
        
        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: #fff;
            max-width: 1295px;
            border-radius: 50px;
            margin: 0 auto;
        }
        
        .img-wrapper {
            margin-top: 13px;
        }
        
        .ul ul {
            display: flex;
            gap: 20px;
            text-decoration: none;
            list-style: none;
        }
        
        a {
            text-decoration: none;
            font-weight: 500;
            font-size: 20px;
            color: #252525;
        }
        
        a.active {
            color: #1E88E5;
        }
        
        a:hover {
            color: aqua;
        }
        
        .btn-project {
            border: none;
            padding: 11px 43px;
            background: #1E88E5;
            border-radius: 50px;
            color: #fff;
            font-weight: 600;
            font-size: 20px;
            cursor: pointer;
        }
        
        .btn-project:hover {
            background-color: #46a049;
        }
        
        .main-body {
            display: flex;
            padding: 15px 20px;
            justify-content: center;
        }
        
        .main-body-1 {
            max-width: 700px;
        }
        
        .main-body-2 img {
            width: 638px;
            height: 600px;
        }
        
        .content {
            margin-bottom: 84px;
        }
        
        .content h1 {
            font-size: 65px;
            font-weight: 700;
            line-height: 98px;
            margin-bottom: 17px;
            width: 634px;
        }
        
        .search {
            display: flex;
            align-items: center;
            gap: 133px;
            justify-content: space-between;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            margin-right: -50px;
        }
        
        .search input {
            padding-top: 23px;
            padding-left: 25px;
        }
        
        .search img {
            background: #1E88E5;
            border-radius: 50%;
            margin: 12px 13px;
            padding: 12px 12px;
        }
        
        .content p {
            font-size: 25px;
            width: 588px;
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
        }
        
        .btn {
            display: flex;
            gap: 19px;
            /* margin-right: -50px;
*/
        }
        
        .btn button {
            color: white;
            background-color: #1E88E5;
            border-radius: 10px;
            font-size: 24px;
            font-weight: 600;
            padding: 20px 24px;
            border: none;
            cursor: pointer;
        }
        
        .btn button:hover {
            background-color: #46a049;
        }
        
        #box-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 20px;
            box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.05);
            padding: 41px 53px;
            color: #252525;
            font-weight: 500;
            font-size: 30px;
            margin-bottom: 176px;
        }
        
        #box-container h2 {
            line-height: 45px;
            width: 238px;
            font-weight: 500;
            font-size: 30px;
            line-height: 45px;
        }
        
        #box-container p {
            font-weight: 400;
            font-size: 24px;
            text-align: center;
            color: #9D9D9D;
            flex: none;
            order: 1;
            flex-grow: 0;
        }
        
        #box-1,
        #box-2,
        #box-3 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0px;
            gap: 15px;
            width: 305px;
            height: 243px;
        }
        
        .container .flex {
            gap: 85px;
        }
        
        .container-a {
            width: 666px;
            height: 587px;
        }
        
        .container-b {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            padding: 0px;
            gap: 20px;
        }
        
        .container-b h2 {
            font-weight: 500;
            font-size: 56px;
            line-height: 84px;
            text-align: right;
        }
        
        .container-b p {
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
            text-align: right;
            color: #9D9D9D;
        }
        
        span {
            color: #1E88E5;
        }
        
        .flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 176px;
        }
        
        .contentt {
            display: flex;
            flex-direction: row;
        }
        /* recent work */
        
        .parent {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            max-width: 1295px;
            margin-bottom: 176px;
        }
        
        .parent .flex {
            gap: 480px;
        }
        
        .a {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
        }
        
        .a h5 {
            font-weight: 400;
            font-size: 36px;
            line-height: 54px;
            color: #9D9D9D;
        }
        
        .a h2 {
            font-weight: 500;
            font-size: 56px;
            line-height: 84px;
            color: #252525;
        }
        
        .b {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
        }
        
        .box {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            gap: 76px;
        }
        
        .box1,
        .box2,
        .box3 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
            gap: 30px;
            background: #FFFFFF;
            box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
            border-radius: 30px;
        }
        
        .box img {
            width: 80px;
            height: 80px;
            margin-top: 20px;
        }
        
        .box h2 {
            font-weight: 500;
            font-size: 32px;
            line-height: 48px;
            color: #252525;
        }
        
        .box p {
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
            text-align: center;
            color: #9D9D9D;
        }
        
        .aa p {
            font-weight: 500;
            font-size: 24px;
            line-height: 36px;
            text-align: center;
            color: #252525;
            opacity: 0.7;
        }
        
        .bb a {
            font-weight: 500;
            font-size: 24px;
            line-height: 36px;
            text-decoration-line: underline;
            color: #1E88E5;
        }
        
        .box-11 {
            flex-direction: row;
            display: flex;
            align-items: center;
            gap: 68px;
        }
        
        .box-11 h4 {
            margin: 0;
        }
        
        .box-11 h6 {
            margin: 0;
            text-align: center;
        }
        /* category */
        
        .category {
            align-items: center;
            text-align: center;
            justify-content: center;
        }
        
        .category h2 {
            font-weight: 500;
            font-size: 56px;
            line-height: 84px;
            color: #252525;
            margin-bottom: 75px;
        }
        
        .cat {
            display: flex;
            flex-direction: row;
            gap: 31px;
        }
        
        .cat1 {
            display: flex;
            flex-direction: column;
            margin-bottom: 51px;
            position: relative;
            border-radius: 20px;
        }
        
        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            color: whitesmoke;
        }
        
        .cat1 img {
            width: 290px;
            height: 241px;
            background: rgba(0, 0, 0, 0.3);
            filter: blur(1px);
            -webkit-filter: blur(2px);
        }
        
        .cbtn button {
            background: #1E88E5;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 166px;
            color: #FFFFFF;
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            border: none;
        }
        /* .cat-btn {
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    background: #1E88E5;
    border-radius: 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    border: none;
    margin-left: 520px;
    margin-bottom: 166px;
} */
        
        .cbtn button:hover {
            background-color: #46a049;
        }
        /* portfolio */
        
        .p-head {
            text-align: center;
            margin-bottom: 75px;
        }
        
        .p-head p {
            font-weight: 400;
            font-size: 36px;
            line-height: 54px;
            color: #9D9D9D;
        }
        
        .p-head h2 {
            font-weight: 500;
            font-size: 56px;
            line-height: 84px;
            color: #252525;
        }
        
        .p-box {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            gap: 60px;
        }
        
        .p-box1 {
            background: #FFFFFF;
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            margin-bottom: 75px;
        }
        
        .p-img {
            width: 383px;
            height: 328px;
            border-radius: 10px;
            margin-bottom: 22px;
        }
        
        .p-content {
            display: flex;
            flex-direction: row;
            gap: 115px;
        }
        
        .p-name {
            margin-bottom: 41px;
            margin-left: 21px;
        }
        
        .p-name h4 {
            font-weight: 500;
            font-size: 30px;
            line-height: 45px;
            color: #252525;
        }
        
        .p-name p {
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
            color: #9D9D9D;
        }
        
        .arrow {
            justify-content: center;
            align-items: center;
            padding-right: 2px;
        }
        
        .rectangle {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 17px;
            margin-bottom: 168px;
        }
        /* subscription */
        
        .subscription {
            background: #F2FAFA;
            text-align: center;
        }
        
        .subscription h3 {
            font-weight: 500;
            font-size: 56px;
            line-height: 84px;
            color: #252525;
            margin-bottom: 5px;
            padding-top: 86px;
        }
        
        .subscription p {
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
            color: #9D9D9D;
            margin-bottom: 70px;
        }
        
        .subscription input {
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
            color: #9D9D9D;
            background: #FFFFFF;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            padding: 20px 182px;
            margin-bottom: 42px;
        }
        
        .bt button {
            background: #1E88E5;
            cursor: pointer;
            border-radius: 10px;
            padding: 20px 89px;
            margin-bottom: 86px;
            color: #FFFFFF;
            border: none;
        }
        
        .bt button:hover {
            background-color: #46a049;
        }
        /* footer */
        
        .footer {
            padding: 140px 44px 94px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 140px;
        }
        
        .ftr-a {
            max-width: 315px;
            padding-left: 30px;
        }
        
        .ftr-a img {
            width: 315px;
            height: 68px;
        }
        
        .ftr-a p {
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: #252525;
        }
        
        .ftr-b {
            display: flex;
            gap: 50px;
        }
        
        .ftr-b ul {
            display: flex;
            flex-direction: column;
            list-style: none;
        }
        
        .ftr-b li {
            font-weight: 500;
            font-size: 24px;
            line-height: 36px;
            color: #252525;
        }
        
        .ftr-b h4 {
            font-weight: 500;
            font-size: 24px;
            line-height: 36px;
            color: #252525;
        }
        
        .ftr-b img {
            padding-right: 13px;
        }
        
        .b-icon {
            display: flex;
            flex-direction: row;
            padding-top: 20px;
            gap: 30px;
        }
        
        .b-icon img {
            height: 23px;
            width: 23px;
        }
        
        .ftr-btm {
            text-align: center;
            justify-content: center;
            padding-bottom: 28px;
        }
        /* For mobile phones: */
        
        [class="container"] {
            width: 100%;
        }
        
        @media screen and (max-width: 850px) {
            body {
                background-color: lightskyblue
            }
            header {
                display: block;
                padding: 20px;
            }
            .img-wrapper {
                width: 100%;
                height: auto;
            }
            nav {
                max-width: 100%;
                align-items: center;
                justify-content: center;
            }
            .ul ul {
                flex: coloumn;
                display: block;
                padding: 10px;
            }
            .btn-project
        }
        /* .img-wrapper {
    display: block;
}

.ul ul {
    display: flex;
    flex-direction: row;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100vh;
}

nav ul li a {
    font-size: 20px;
}

.ul li {
    display: block;
} */
        /* @media only screen and (min-width: 600px) {
    /* For tablets: */
        /* @media only screen and (min-width: 768px) {
    /* For desktop: */